## <center> Examining the History of Lego Sets <center>

In [2]:
#import the necessary libraries
import pandas as pd

In [3]:
lego_sets = pd.read_csv("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/lego_sets.csv")
lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [4]:
parent_themes = pd.read_csv("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/parent_themes.csv")
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

**What percentage of all licensed sets ever released were Star Wars themed?**

Save your answer as a variable the_force, as an integer (e.g. 25).

In [5]:
# Start coding here
# Use as many cells as you need
#find licensed themes
licensed_themes = parent_themes[parent_themes['is_licensed'] == True]
licensed_themes

      id                              name  is_licensed
7    158                         Star Wars         True
12   246                      Harry Potter         True
16   263          Pirates of the Caribbean         True
17   264                     Indiana Jones         True
18   269                              Cars         True
19   270                            Ben 10         True
20   271                  Prince of Persia         True
21   272             SpongeBob SquarePants         True
23   275                         Toy Story         True
33   317                            Avatar         True
43   388             Disney's Mickey Mouse         True
77   482                      Super Heroes         True
88   561  The Hobbit and Lord of the Rings         True
89   570      Teenage Mutant Ninja Turtles         True
91   575                   The Lone Ranger         True
93   577                         Minecraft         True
95   579                   Disney Princess         True
103  602                    Jurassic World         True
104  603                        Scooby-Doo         True
107  606                       Angry Birds         True
108  607                      Ghostbusters         True
109  608                            Disney         True

In [6]:
#extract all licensed themes into a list 
licensed_themes_list = list(licensed_themes['name'])
licensed_themes_list

['Star Wars',
 'Harry Potter',
 'Pirates of the Caribbean',
 'Indiana Jones',
 'Cars',
 'Ben 10',
 'Prince of Persia',
 'SpongeBob SquarePants',
 'Toy Story',
 'Avatar',
 "Disney's Mickey Mouse",
 'Super Heroes',
 'The Hobbit and Lord of the Rings',
 'Teenage Mutant Ninja Turtles',
 'The Lone Ranger',
 'Minecraft',
 'Disney Princess',
 'Jurassic World',
 'Scooby-Doo',
 'Angry Birds',
 'Ghostbusters',
 'Disney']

In [7]:
#find lego sets with licensed themes
sets_with_licensed_themes = lego_sets[lego_sets['parent_theme'].isin(licensed_themes_list)]
sets_with_licensed_themes

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [8]:
#count the number of sets with licensed themes
sets_with_licensed_themes_count = sets_with_licensed_themes.shape[0]
sets_with_licensed_themes_count

1332

In [9]:
#count the number of licensed sets with Star Wars theme
star_wars_count = 0
for i in sets_with_licensed_themes['parent_theme']:
    if i == 'Star Wars':
        star_wars_count += 1
print(star_wars_count)

609

In [10]:
#percentage of all licensed sets ever released were Star Wars themed
the_force = int(round((star_wars_count / sets_with_licensed_themes_count *  100), 0))
the_force

46

Percentage of all licensed sets ever released were Star Wars themed = 46%

**In which year was the highest number of Star Wars sets released?**

Save your answer as a variable new_era, as an integer (e.g. 2012).

In [11]:
#subset for star wars themed sets
star_wars = lego_sets[lego_sets['parent_theme'] == 'Star Wars']
year = star_wars['year'].value_counts().reset_index()
year.columns = ['year','count']
year

    year  count
0   2016     61
1   2015     58
2   2017     55
3   2014     45
4   2012     43
5   2009     39
6   2013     35
7   2003     32
8   2011     32
9   2010     30
10  2005     28
11  2002     28
12  2000     26
13  2008     23
14  2004     20
15  2007     16
16  2001     14
17  1999     13
18  2006     11

In [12]:
#year with the highest number of Star Wars sets released
new_era = int(year['year'][0])
new_era

2016

The year that has the highest number of Star Wars sets released = 2016