## <center> Visualizing the History of Nobel Prize Winners <center>

***Refer to the nobel.csv file***

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#import data
df = pd.read_csv("C:/Users/uyen/Desktop/Real-World-Projects/Python/datasets/nobel.csv")
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

**What is the most commonly awarded gender and birth country?**

Store your answers as string variables top_gender and top_country.

In [3]:
#most_awarded_gender
df["sex"].value_counts()

sex
Male      905
Female     65
Name: count, dtype: int64

In [4]:
top_gender = "Male"

In [5]:
#find the top birth country
df["birth_country"].value_counts()

birth_country
United States of America                        291
United Kingdom                                   91
Germany                                          67
France                                           58
Sweden                                           30
                                               ...
Austria-Hungary (Ukraine)                         1
Ottoman Empire (Turkey)                           1
Russian Empire (Azerbaijan)                       1
Bosnia (Bosnia and Herzegovina)                   1
French protectorate of Tunisia (now Tunisia)      1
Name: count, Length: 129, dtype: int64

In [6]:
top_country = "United States of America"

**Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?**

Store this as an integer called max_decade_usa.

In [8]:
#calculate decades
df["decade"] = (df["year"] // 10) * 10
df.head()
df["decade"].unique()

array([1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000,
       2010, 2020], dtype=int64)

In [9]:
#calculate the ratio of US-born winners versus non-US-born winners
df_us_born = df[df["birth_country"] == "United States of America"]
df_us_born = df_us_born["decade"].value_counts(sort = False)

df_non_us_born = df["decade"].value_counts(sort = False)
((df_us_born / df_non_us_born) * 100).sort_values(ascending=False)

decade
2000    42.276423
1990    40.384615
2020    36.000000
1980    31.958763
1970    31.730769
2010    31.404959
1940    30.232558
1950    29.166667
1960    26.582278
1930    25.000000
1910     7.500000
1920     7.407407
1900     1.754386
Name: count, dtype: float64

In [10]:
max_decade_usa = 2000

**Which decade and Nobel Prize category combination had the highest proportion of female laureates?**

Store this as a dictionary called max_female_dict where the decade is the key and the category is the value. There should only be one key:value pair.

In [11]:
#filter for female laureates
df_f = df[df["sex"] == "Female"]
female = df_f["decade"].value_counts(sort = False)

In [12]:
#calculate the ratio of female laureates to non-female laureates
all = df["decade"].value_counts(sort=False)
((female / all) * 100).sort_values(ascending = False)

decade
2020    22.000000
2010    10.743802
2000     8.943089
1940     6.976744
1990     6.730769
1930     5.357143
1900     5.263158
1980     4.123711
1970     3.846154
1960     3.797468
1920     3.703704
1910     2.500000
1950          NaN
Name: count, dtype: float64

In [13]:
#calculate the ratio of categories won by female laureates versus non-female laureates
female_cat = df_f["category"].value_counts(sort = False)
all_cat = df["category"].value_counts(sort=False)
((female_cat/all_cat)*100).sort_values(ascending=False)

category
Literature    14.166667
Peace         13.475177
Medicine       5.726872
Chemistry      4.123711
Economics      3.225806
Physics        2.222222
Name: count, dtype: float64

In [14]:
max_female_dict = {2020: "Literature"}
max_female_dict

{2020: 'Literature'}

**Who was the first woman to receive a Nobel Prize, and in what category?**

Save your string answers as first_woman_name and first_woman_category.

In [15]:
#find the first woman laureate and their winning category
df_f.sort_values(by = "year")

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country,decade
19,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN,1934-07-04,Sallanches,France,1900
29,1905,Peace,The Nobel Peace Prize 1905,NaN,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN,1914-06-21,Vienna,Austria,1900
51,1909,Literature,The Nobel Prize in Literature 1909,"""in appreciation of the lofty idealism, vivid ...",1/1,579,Individual,Selma Ottilia Lovisa Lagerlöf,1858-11-20,Mårbacka,Sweden,Female,NaN,NaN,NaN,1940-03-16,Mårbacka,Sweden,1900
62,1911,Chemistry,The Nobel Prize in Chemistry 1911,"""in recognition of her services to the advance...",1/1,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,Sorbonne University,Paris,France,1934-07-04,Sallanches,France,1910
128,1926,Literature,The Nobel Prize in Literature 1926,"""for her idealistically inspired writings whic...",1/1,597,Individual,Grazia Deledda,1871-09-27,"Nuoro, Sardinia",Italy,Female,NaN,NaN,NaN,1936-08-15,Rome,Italy,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,2022,Literature,The Nobel Prize in Literature 2022,"""for the courage and clinical acuity with whic...",1/1,1017,Individual,Annie Ernaux,1940-09-01,Lillebonne,France,Female,NaN,NaN,NaN,NaN,NaN,NaN,2020
993,2023,Physics,The Nobel Prize in Physics 2023,"""for experimental methods that generate attose...",1/3,1028,Individual,Anne L’Huillier,1958-08-16,Paris,France,Female,Lund University,Lund,Sweden,NaN,NaN,NaN,2020
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN,2020
989,2023,Medicine,The Nobel Prize in Physiology or Medicine 2023,"""for their discoveries concerning nucleoside b...",1/2,1024,Individual,Katalin Karikó,1955-01-17,Szolnok,Hungary,Female,Szeged University,Szeged,Hungary,NaN,NaN,NaN,2020
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",1/1,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaN,NaN,NaN,2020

In [16]:
first_woman_name = "Marie Curie, née Sklodowska"
first_woman_category = "Physics"

**Which individuals or organizations have won more than one Nobel Prize throughout the years?**

Store the full names in a list named repeat_list.

In [17]:
#individuals or organizations won more than one Nobel Prize
ind_org = df["full_name"].value_counts()
more_than_once = ind_org[ind_org.values > 1]
more_than_once

full_name
Comité international de la Croix Rouge (International Committee of the Red Cross)    3
Linus Carl Pauling                                                                   2
John Bardeen                                                                         2
Frederick Sanger                                                                     2
Marie Curie, née Sklodowska                                                          2
Office of the United Nations High Commissioner for Refugees (UNHCR)                  2
Name: count, dtype: int64

In [18]:
repeat_list = more_than_once.index
repeat_list = repeat_list.tolist()
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']